@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.bg-header {
    background-image: url('images/header-sape.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-content>section {
    background-image: url('images/header-sape-3.png');
}
.bg-pink:hover {
    color: #fff;
    background: #ff3494;
    border-color: #ff3494;
}
.nav-link {
    margin: 0 10px;
}
.bg-purple {
    background: #7d4196;
}
.content {
    padding-top: 285px;
}
.mini-slider {
    list-style: none;
    padding: 0;
}
.mini-slider .active {
    background: #7d4196!important;
    color: white;
}
.mini-slider>li {
    display: inline-block;
    padding: 5px 30px;
}
.app-showcase {
    color: #190a32;
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 600;
}
.app-showcase span {
    color: #ff3494;
}
.bg-gradient {
    background: transparent linear-gradient(90deg, #7D4196 0%, #FF3494 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 4px 25px #C63A9580;
    color: #fff;
}
.bg-gradient:hover {
    background: transparent linear-gradient(270deg, #7D4196 0%, #FF3494 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 4px 25px #C63A9580;
    color: #fff;
}
h2 {
    font-size: 38px;
    color: #190a32;
    font-weight: 600;
    padding: 15px 0px;
}
.service-icon {
    text-align: center;
}
.choose-area {
    background-image: url('images/easy-m-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.choose-btn>a {
    border-radius: 10px;
    display: inline-block;
    padding: 10px 30px;
    margin-right: 25px;
    text-decoration: none;
    border: #7D4196 solid 1px;
}
.app-text {
    color: #7D4196;
    display: inline-block;
}
.app-text>strong{
    display: block;
    color: #FF3494;
}
.app-icon {
    color: #FF3494;
    padding: 0 20px 0 0;
    display: inline-block;
}
.choose-btn-links:hover {
    background: transparent linear-gradient(90deg, #7D4196 0%, #FF3494 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 4px 25px #C63A9580;
    color: white!important;
}
.choose-btn-links:hover span {
    color: white;
}
.choose-btn-links:hover strong {
    color: white;
}